@using TourProgram.Web.Models.Dashboard;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dedicated Freight Corridor Corporation of India Limited</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/feather/feather.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css" asp-append-version="true">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" type="~/text/css" href="js/select.dataTables.min.css" asp-append-version="true">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css" asp-append-version="true">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/custom/common.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <style>
        @@media(max-with:767px){
            #logedInUsername{
                font-size:13px !important;
            }
        }
        .sidebar .nav .nav-item .nav-link {
            border-radius: 0 4px 4px 0;
            white-space: wrap;
        }

            .sidebar .nav .nav-item .nav-link .menu-title {
                line-height: 1.2rem;
            }

        .sidebar .nav:not(.sub-menu) {
            margin-left: 0;
        }

        .sidebar .nav .nav-item .nav-link i.menu-icon {
            margin-right: .54rem;
        }

        .dropdown-item i {
            color: #4B49AC !important;
        }

        .trashFontAwesome {
            font-size: 19px;
            color: red;
        }

        .filepdfFontAwesome {
            font-size: 19px;
            color: #4b49ac;
        }

        .editFontAwesome {
            font-size: 19px;
            color: #4b49ac;
        }

        .eyeFontAwesome {
            font-size: 19px;
            color: black;
        }

        .page-loader {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #00000069;
        }

        .loader {
            position: absolute;
            box-sizing: border-box;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .loader-container {
            display: flex;
            margin-top: 20px;
        }

        .dot-loader {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #e20016;
            position: relative;
            -webkit-animation: 1.2s scaleDown ease-in-out infinite;
            animation: 1.2s scaleDown ease-in-out infinite;
        }

            .dot-loader:nth-child(2) {
                margin: 0 15px;
                -webkit-animation: 1.2s scaleDown ease-in-out infinite .15555s;
                animation: 1.2s scaleDown ease-in-out infinite .15555s;
            }

            .dot-loader:nth-child(3) {
                -webkit-animation: 1.2s scaleDown ease-in-out infinite .300000s;
                animation: 1.2s scaleDown ease-in-out infinite .300000s;
            }

        @@-webkit-keyframes scaleDown {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @@keyframes scaleDown {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    </style>

</head>


<body>
    @* <div class="page-loader" >
    <div class="loader">
    <div>
    <img src="https://dfccil.com/images/logo.png">
    </div>
    <div class="loader-container">
    <div class="dot-loader"></div>
    <div class="dot-loader"></div>
    <div class="dot-loader"></div>
    </div>
    </div>
    </div>*@


    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/Home/Index"><img src="~/images/logo.png" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Home/Index"><img src="~/images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                @*<ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                <i class="icon-search"></i>
                </span>
                </div>
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
                </div>
                </li>
                </ul>*@
                <ul class="navbar-nav navbar-nav-right">
                    <h5 style="margin:auto"><span id="logedInUsername"></span></h5>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="icon-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        @* <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                        <i class="ti-info-alt mx-0"></i>
                        </div>
                        </div>
                        <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                        Just now
                        </p>
                        </div>
                        </a>
                        <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                        <div class="preview-icon bg-warning">
                        <i class="ti-settings mx-0"></i>
                        </div>
                        </div>
                        <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">Add Profile</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                        Private message
                        </p>
                        </div>
                        </a>
                        <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                        <div class="preview-icon bg-info">
                        <i class="ti-user mx-0"></i>
                        </div>
                        </div>
                        <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                        2 days ago
                        </p>
                        </div>
                        </a>
                        </div>*@
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/images/faces/avatar.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

                            @*<a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                            </a>*@
                            <form method="post" asp-action="LogOut" asp-controller="Account">
                                <button type="submit" id="logOutButton" class="dropdown-item">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>
                    @*<li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#">
                    <i class="icon-ellipsis"></i>
                    </a>
                    </li>*@
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
                    </li>
                </ul>

            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">


                    <li class="nav-item">
                        <a class="nav-link" id="homeindex" href="/Home/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advance" href="/Tour/TourRequest">
                            <i class="fa fa-plane icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Tour Request</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="approved" href="/Approval/TourApproval">
                            <i class="fa-solid fa-route icon-grid menu-icon"></i>
                            <span class="menu-title">Approve Tour Program</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advance_approved" href="/Finance/AdvanceApproval">
                            <i class="fa fa-suitcase icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Approve Advance</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advance_approved_bulkProcessing" href="/Finance/AdvanceApprovalBulkDownload">
                            <i class="fa fa-cloud-download icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Approve Advance Bulk Processing</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="advance_approved_payment_processing" href="/Home/ApprovedTourAdvance_PaymentProcessing">
                            <i class="fa-solid fa-wallet icon-grid menu-icon"></i>
                            <span class="menu-title">Approve Advance Payment Processing</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advance_approved_bulkProcessing" href="/Finance/AdvanceApprovalBankingBulkDownload">
                            <i class="fa-regular fa-credit-card icon-grid menu-icon"></i>
                            <span class="menu-title">Advance Payment Bulk Processing</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="claim" href="/Tour/TourClaim">
                            <i class="fa fa-users icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Raise Claim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tourApproval" href="/Finance/ApproveClaim">
                            <i class="fa fa-pencil-square icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Approve Claim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tourApproval_Finance" href="/Finance/ApproveClaimFinanceProcessing">
                            <i class="fa fa-id-card icon-grid menu-icon" aria-hidden="true"></i>
                            <span class="menu-title">Approve Claim Payment Processing</span>
                        </a>
                    </li>



                    <!--li class="nav-item">
                    <a class="nav-link" href="/Employee/Family">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">My Family</span>
                    </a>
                    </li-->
                    @*   <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkinpatients" href="#inpatients" aria-expanded="false" aria-controls="ui-basic">
                    <i class="icon-layout menu-icon"></i>
                    <span class="menu-title">In Patient</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="inpatients">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Claim/Advance" id="advanceClick">Request Advance</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Claim/AdvanceClaim">Advance Claim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Claim/DirectClaim">Raise Claim</a></li>
                    </ul>
                    </div>
                    </li> *@
                    @*   <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkclaims" href="#claims" aria-expanded="false" aria-controls="form-elements">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">Out Patient</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="claims">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/Claim/Consultation">Special Disease</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Claim/Investigation">Investigation</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Claim/Medication">Specified Procedure</a></li>
                    </ul>
                    </div>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkclaims" href="#healths" aria-expanded="false" aria-controls="form-elements">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">Health Checkup</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="healths">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/Claim/Medication">APAR</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Claim/Medication">Periodic</a></li>
                    </ul>
                    </div>
                    </li> *@



                    @*    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkadmin" href="#admins" aria-expanded="false" aria-controls="charts">
                    <i class="icon-bar-graph menu-icon"></i>
                    <span class="menu-title">HR</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="admins">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/AdvanceApproved">Approve Advance</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Admin/ClaimApproved">Review Claim</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Admin/ClaimAfterDoctorReview">Approve Claim</a></li>
                    </ul>
                    </div>
                    </li>


                    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkdoctors" href="#doctors" aria-expanded="false" aria-controls="charts">
                    <i class="icon-bar-graph menu-icon"></i>
                    <span class="menu-title">Doctor</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="doctors">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Admin/DoctorReview">Doctor Review</a></li>
                    @* <li class="nav-item"> <a class="nav-link" href="/Admin/ClaimReviewByDoctor">Claim Review By Doctor</a></li>
                    </ul>
                    </div>
                    </li> *@

                    @*      <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="lnkfinance2" href="#finance2" aria-expanded="false" aria-controls="charts">
                    <i class="icon-bar-graph menu-icon"></i>
                    <span class="menu-title">Finance</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="finance2">
                    <ul class="nav flex-column sub-menu">

                    <li class="nav-item"> <a class="nav-link" href="/Finance/BillPassing">Bill Passing</a></li>

                    <li class="nav-item"> <a class="nav-link" href="/Finance/Banking">Banking</a></li>

                    </ul>
                    </div>
                    </li> *@

                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright  <a href="https://dfccil.com/" target="_blank">© 2023 DFCCIL.</a></span>
                        @*<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>*@
                    </div>
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Government of India, All Rights Reserved <a href="https://dfccil.com/" target="_blank">dfccil.com</a></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js" asp-append-version="true"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js" asp-append-version="true"></script>
    @*<script src="js/dataTables.select.min.js" asp-append-version="true"></script>*@

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js" asp-append-version="true"></script>
    <script src="~/js/hoverable-collapse.js" asp-append-version="true"></script>
    <script src="~/js/template.js" asp-append-version="true"></script>
    <script src="~/js/settings.js" asp-append-version="true"></script>
    <script src="~/js/todolist.js" asp-append-version="true"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="~/js/Chart.roundedBarCharts.js" asp-append-version="true"></script>

    <!-- End custom js for this page-->
    @*<script src="~/customjs/shared/utility.js" asp-append-version="true"></script>*@
    <script src="~/customjs/shared/utility.js" asp-append-version="true"></script>
    <script src="~/customjs/shared/ApiCall.js" asp-append-version="true"></script>
    <script src="~/customjs/shared/commonFormat.js" asp-append-version="true"></script>
    <script src="~/customjs/shared/custom.js" asp-append-version="true"></script>
<script src="~/customjstour/commontour/commontour.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var currentUrl = window.location.pathname;
            $('.nav-item').removeClass('active');
            $('.nav-item').each(function () {
                var link = $(this).find('a.nav-link').attr('href');
                console.log(currentUrl);
                if (link === currentUrl) {
                    $(this).addClass('active');
                }
            });           
       
        });

        $(document).ready(function(){
            setEmpDetailsSessionStorage();
            $('#logedInUsername').html(localStorage.getItem('Name') + ' (' + localStorage.getItem('empDesignation') + ')');
        })

        function setEmpDetailsSessionStorage() {
            debugger;
            if (@EmployeeBasicDetailsModel.empId!= 0) {
                localStorage.setItem('empId', '@EmployeeBasicDetailsModel.empId');
                localStorage.setItem('empCode', '@EmployeeBasicDetailsModel.empCode');
                localStorage.setItem('empGrade', '@EmployeeBasicDetailsModel.empGrade');
                localStorage.setItem('empDesignation', '@EmployeeBasicDetailsModel.empDesignation');
                localStorage.setItem('empUnit', '@EmployeeBasicDetailsModel.empUnit');
                localStorage.setItem('Name', '@EmployeeBasicDetailsModel.Name');
                localStorage.setItem('Role', '@EmployeeBasicDetailsModel.Role');
                localStorage.setItem('EmailId', '@EmployeeBasicDetailsModel.EmailId');
                localStorage.setItem('Mobile', '@EmployeeBasicDetailsModel.Mobile');
            }

        }
                                //$(window).on('load', function () {
                                //        $('.page-loader').hide();
                                //});

                                //alert(@EmployeeBasicDetailsModel.empId);
    </script>



</body>

</html>
